body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1 !important;
}

*:hover, *:focus {
	outline: none;
}

.navbar {
	border-radius: 0px !important;
	background-color: #222d32 !important;
	margin-bottom: 0px !important;
	border: 0px !important;
}

.navbar-default .navbar-brand {
	color: #fff !important;
}

.navbar-bottom {
	height:	25px;
	background-color: #F44336;
}

.login-section {
	height: calc(100vh - 75px);
	position: relative;
}

.login-wrapper {
	position: absolute;
	width: 400px;
	padding: 1px 1px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	-webkit-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 15px -6px rgba(0,0,0,0.3);
}

.lms-sign-in-title {
	padding-left: 15px;
}

.lms-btn {
	background-color: #F44336;
	padding: 10px 25px;
	color: #fff;
	font-weight: 600;
	border: 0px;
	border-top: 0px;
	transition: 0.3s background-color;
	border-radius: 5px;
}

.lms-btn:hover {
	background-color: #B71C1C;
}

.lms-btn:focus {
	border-top: 3px solid #8c1e1e !important;
	background-color: #B71C1C;
}

#btnLogin {
	width: 100%;
	text-align: center;
}

.lms-form {
	padding: 15px;
}

.lms-form .input-group-addon {
	background-color: #fff;
}
	
.lms-form .form-control {
	border-left: 0px;
	padding-left: 0px;
	font-weight: 500;
}

.lms-error {
	color: #F44336;
}

.lms-form .form-control:focus,
.lms-form .form-control:active {
	box-shadow: none !important;
	border-color: #ccc !important;
	outline: none !important;
}

textarea[name=meritDesc] {
	resize: vertical;
	min-height: 100px;
}

.alert a {
	text-decoration: none;	
}

.result-here {
	color: #F44336;
}